/*<-------- General rules -------->*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 100;
    background-color: #6c97bc;
    color: #fff;
}
.container-fluid {max-width: 1000px;}

img {max-width: 100%;}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin: 0.25em 0;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em}
h4 {font-size: 1.2em;}

/*hr {
    height: 1px;
    background-color: #7d97ad;
    border: none;
}*/

/*<---Adjust headings for larger devices--->*/
@media screen and (min-width: 768px) {
    h1 {font-size: 3em;}
    h2 {font-size: 2.5em;}
    h3 {font-size: 2em;}
    h4 {font-size: 1.5em;}
}

/*<-------- Header -------->*/
.logo-container {text-align: center;}
.logo {
    margin-top: 36px;
    height: 50px;
}
.title-container {text-align: center;}
/*#name {color: #2d3c49;}*/
/*#title {color: #2d3c49;}*/
.header-separator {display: none}

/*<---Center header contents on smaller screens --->*/
@media screen and (min-width: 768px) {
    .logo-container {text-align: left;}
    .title-container {text-align: right;}
    .header-separator {display: block;}
}

/*<-------- Banner -------->*/
.banner-container {
    padding: 0;
}
#banner {width: 100%;}
@media screen and (min-width: 768px){
    .banner-container {
        padding: 0 15px;
    }
}

/*<-------- Projects -------->*/
#feat-work {
    margin-left: 15px;
}
.projects-section {
    padding: 0;
    margin-top: 1em;
}
.projects-container {padding: 0;}
.project {
    text-align: center;
    margin-bottom: 1em;
}
.project-img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 15px 0px #444;
}
.project-img:hover {
    box-shadow: 10px 10px 30px 0px #444;
}
