/*
    - Baseline rules are created with mobile devices in mind
    - Rules for larger devices are applied with media queries
*/

/*<-------- General rules -------->*/
body {
    box-sizing: border-box;
    font: 100 16px 'Arial', sans-serif;
    background: #6c97bc;
    color: #fff;
}

.container-fluid {
    max-width: 1000px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    font: 200 16px 'Raleway', sans-serif;
    margin: 0.25em 0;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em
}

h4 {
    font-size: 1.2em;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

}

/*<-------- Header -------->*/
header {
    margin-bottom: 1em
}

.logo-cont {
    text-align: center;
}

.logo {
    margin-top: 36px;
    height: 50px;
}

.title-cont {
    text-align: center;
}

.name {
    text-transform: uppercase;
}

/*<Reorder header content on larger devices>*/
@media screen and (min-width: 768px) {
    .logo-cont {
        text-align: left;
    }

    .title-cont {
        text-align: right;
    }
}

/*<-------- Hero -------->*/
#hero {
    width: 100%;
}

.hero-col {
    padding: 0;
}

/*<Align hero with rest of page on larger devices>*/
@media screen and (min-width: 768px){
    .hero-col {
        padding: 0 15px;
    }
}

/*<-------- Projects -------->*/
.projects-sect {
    margin-top: 1em;
}

.project {
    text-align: center;
    margin-bottom: 2.5em;
}

.project-img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 4px 4px 15px 0px #444;
}

.project-img:hover {
    box-shadow: 10px 10px 30px 0px #444;
}

.project-title {
    text-transform: capitalize;
}

.project-description {
    margin-top: 0;
    color: #ddf;
    text-transform: capitalize;
}
