/*<======== General rules for the entire document ========>*/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /*outline: 1px solid blue;*/
}

body {
    max-width: 900px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 100;
    font-size: 50px;
    margin: 0.25em 0;
}
h2 {
    font-weight: 200;
    font-size: 18px;
    margin: 0.25em 0;
}
h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 0.25em 0;
}
h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 0.25em 0;
}
a {
    text-decoration: none;
}

hr {
    height: 1px;
    background-color: #7d97ad;
    border: none;
}

img {
    max-width: 100%;
}

/*<======== Grid System Definitions =========>*/
.row {
    width: 100%;
}
.col-8 {
    width: 66.66%;
}
.col-6 {
    width: 50%;
}
.col-4 {
    width: 33.33%;
}
.col-3 {
    width: 25%;
}

/*<======== Header styling ========>*/
header {
    display: flex;
    height: 120px;
    padding: 5px;
}
.logo-container {
    text-align: left;
}
.logo {
    margin-top: 10px
}
.title-container {
    text-align: right;
}
#name {
    color: #2d3c49;
}
#title {
    color: #2d3c49;
}

/*<======== Articles Styling ========>*/
.articles-container {
    display: flex;
}
#feat-work {
    color: #7d97ad;
}
article.project {
    text-align: center;
}
.project-img {
    width: 100%;
}
.project-title {
    color: #2d3c49;
}
